.rHandGetHashi1 {
    -webkit-animation:rGetHashi1 1s linear infinite;
    -moz-animation:rGetHashi1 1s linear infinite;
    animation:rGetHashi1 1s linear infinite;
}
@-moz-keyframes rGetHashi1 { 100% { -moz-transform: rotate(345deg); } }
@-webkit-keyframes rGetHashi1 { 100% { -webkit-transform: rotate(345deg); } }

.rHandGetHashi2 {
    -webkit-animation:rGetHashi2 1s linear infinite;
    -moz-animation:rGetHashi2 1s linear infinite;
    animation:rGetHashi2 1s linear infinite;
}
@-moz-keyframes rGetHashi2 { 100% { -moz-transform: rotate(57deg); } }
@-webkit-keyframes rGetHashi2 { 100% { -webkit-transform: rotate(57deg); } }

.rHandGetHashi3 {
    -webkit-animation:rGetHashi3 1s linear infinite;
    -moz-animation:rGetHashi3 1s linear infinite;
    animation:rGetHashi3 1s linear infinite;
}
@-moz-keyframes rGetHashi3 { 100% { -moz-transform: rotate(129deg); } }
@-webkit-keyframes rGetHashi3 { 100% { -webkit-transform: rotate(129deg); } }

.rHandGetHashi4 {
    -webkit-animation:rGetHashi4 1s linear infinite;
    -moz-animation:rGetHashi4 1s linear infinite;
    animation:rGetHashi4 1s linear infinite;
}
@-moz-keyframes rGetHashi4 { 100% { -moz-transform: rotate(201deg); } }
@-webkit-keyframes rGetHashi4 { 100% { -webkit-transform: rotate(201deg); } }

.rHandGetHashi5 {
    -webkit-animation:rGetHashi5 1s linear infinite;
    -moz-animation:rGetHashi5 1s linear infinite;
    animation:rGetHashi5 1s linear infinite;
}
@-moz-keyframes rGetHashi5 { 100% { -moz-transform: rotate(273deg); } }
@-webkit-keyframes rGetHashi5 { 100% { -webkit-transform: rotate(273deg); } }

.lHandGetHashi1 {
    -webkit-animation:lGetHashi1 1s linear infinite;
    -moz-animation:lGetHashi1 1s linear infinite;
    animation:lGetHashi1 1s linear infinite;
}
@-moz-keyframes lGetHashi1 { 100% { -moz-transform: rotate(15deg); } }
@-webkit-keyframes lGetHashi1 { 100% { -webkit-transform: rotate(15deg); } }

.lHandGetHashi2 {
    -webkit-animation:lGetHashi2 1s linear infinite;
    -moz-animation:lGetHashi2 1s linear infinite;
    animation:lGetHashi2 1s linear infinite;
}
@-moz-keyframes lGetHashi2 { 100% { -moz-transform: rotate(87deg); } }
@-webkit-keyframes lGetHashi2 { 100% { -webkit-transform: rotate(87deg); } }

.lHandGetHashi3 {
    -webkit-animation:lGetHashi3 1s linear infinite;
    -moz-animation:lGetHashi3 1s linear infinite;
    animation:lGetHashi3 1s linear infinite;
}
@-moz-keyframes lGetHashi3 { 100% { -moz-transform: rotate(159deg); } }
@-webkit-keyframes lGetHashi3 { 100% { -webkit-transform: rotate(159deg); } }

.lHandGetHashi4 {
    -webkit-animation:lGetHashi4 1s linear infinite;
    -moz-animation:lGetHashi4 1s linear infinite;
    animation:lGetHashi4 1s linear infinite;
}
@-moz-keyframes lGetHashi4 { 100% { -moz-transform: rotate(231deg); } }
@-webkit-keyframes lGetHashi4 { 100% { -webkit-transform: rotate(231deg); } }

.lHandGetHashi5 {
    -webkit-animation:lGetHashi5 1s linear infinite;
    -moz-animation:lGetHashi5 1s linear infinite;
    animation:lGetHashi5 1s linear infinite;
}
@-moz-keyframes lGetHashi5 { 100% { -moz-transform: rotate(303deg); } }
@-webkit-keyframes lGetHashi5 { 100% { -webkit-transform: rotate(303deg); } }